<div data-ng-class="{sWrap: questionData.editMode}">
	<div data-ng-class="{active: questionData.editMode, last: questionClass}" class="question">
		<div class="questionInner">
			<div class="question-heading">
				<span class="left">Question {{ questionData.num+1 }}:</span>
				<!--<div class="left questionTypeLabel">Matching</div>-->
				<div class="left questionTotalPoints">
					<span class="labelTitle left">Total Points: </span>
					<span class="left non-editMode" data-ng-bind="questionData.totalPoints"
						  data-ng-show="!questionData.editMode"></span>
					<input type="text" data-ng-model="questionData.totalPoints" class="left"
						   data-ng-show="questionData.editMode" />
					<div class="clear"></div>
				</div>
					<a class="removeSectionBtn right" href="javascript:void(0);" style="margin: 0px 6px;"
					   data-ng-click="sectionData.editMode = false">
						<img src="/app/frontend/images/buttons/trashBtn.png" alt="Delete" width="28" height="27" />
					</a>
					<a class="editSectionBtn right" href="javascript:void(0);" style="margin: 0px 6px;"
				   	   data-ng-class="{active: questionData.editMode}" data-ng-click="questionData.editMode = true">&#32;</a>
				<div class="clear"></div>
			</div>
			<div class="question-body">
				<table cellspacing="5" cellpading="5"  class="assessmentTable2c" 
					   data-ng-show="!questionData.editMode">
					<tr>
						<td class="titleLabel">Instructions:</td>
						<td data-ng-bind="questionData.instructions" colspan="3"></td>
					</tr>
					<!-- Load question answer choices -->
					<tr data-ng-repeat="choice in questionData.choices">
						<td class="titleLabel">
							<div data-ng-switch data-on="choice.matchingType">
								<span data-ng-switch-when="StatementAndAnswer">
									Statement {{choice.num + 1}}:
								</span>
								<span data-ng-switch-default></span>
							</div>
						</td>
						<td style="width:30%;">
							<div data-ng-switch data-on="choice.matchingType">
								<div data-ng-switch-when="StatementAndAnswer">
									<span data-ng-bind="choice.statement"></span>
								</div>
								<span data-ng-switch-default>
									This Answer does not have a match.
								</span>
							</div>					
						</td>
						<td class="titleLabel2">Answer {{choice.num + 1}}:</td>
						<td data-ng-bind="choice.answer"></td>
					</tr>
					<tr>
						<td class="titleLabel">Options:</td>
						<td colspan="3">
							<br />
							<span class="optionLabel left">Randomize Answers:</span> 
							<span data-ng-bind="questionData.options.randomize"
								   data-ng-true-value="Yes" data-ng-false-value="No"></span>
							<div class="clear"></div>
							<br />
						</td>
					</tr>
				</table>
				<table cellspacing="5" cellpading="5"  class="assessmentTable2c" 
					   data-ng-show="questionData.editMode">
					<tr>
						<td class="titleLabel">Instructions:</td>
						<td><textarea class="widefield" data-ng-model="questionData.instructions"></textarea></td>
						<td class="titleLabel2"></td><td></td>
					</tr>
					<!-- Load question answer choices -->
					<tr data-ng-repeat="choice in questionData.choices">
						<td class="titleLabel">
							<div data-ng-switch data-on="choice.matchingType">
								<span data-ng-switch-when="StatementAndAnswer">
									Statement {{choice.num + 1}}:
								</span>
								<span data-ng-switch-default></span>
							</div>
						</td>
						<td>
							<div data-ng-switch data-on="choice.matchingType">
								<div data-ng-switch-when="StatementAndAnswer">
									<input type="text" class="widefield" placeholder="Enter statement"
								   data-ng-model="choice.statement" />
								</div>
								<span data-ng-switch-default>
									This Answer does not have a match.
								</span>
							</div>					
						</td>
						<td class="titleLabel2">Answer {{choice.num + 1}}:</td>
						<td><input type="text" class="widefield ans" placeholder="Enter answer to statement"
								   data-ng-model="choice.answer" />					
						</td>
					</tr>
				    <tr>
						<td class="titleLabel"></td>
						<td colspan="3"><a href="javaScript:void(0);" class="addAdditionalAnswer"
							   data-ng-click="addStatementAndAnswer()">+ Add Statement and Answer</a> 
							   <a href="javaScript:void(0);" class="addAdditionalAnswer"
							   data-ng-click="addAnswerOnly()">+ Add Answer Without Statement</a>
						</td>
					</tr>
					<tr>
						<td class="titleLabel">Options:</td>
						<td colspan="3">
							<br />
							<span class="optionLabel left">Randomize Answers:</span> 
							<input type="checkbox" class="left" data-ng-model="questionData.options.randomize"
								   data-ng-true-value="Yes" data-ng-false-value="No" />
							<div class="clear"></div>
							<br />
						</td>
					</tr>
					<tr>
						<td class="titleLabel"></td>
						<td colspan="3">
							<a href="javaScript:void(0);" class="btn-done"
							   data-ng-click="questionData.editMode = false">Save</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>