@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, ul, ol, li, dl {
    clear: none;
}
ol, ul {
    list-style: none outside none;
}
.show {
	display:inherit;
}
.hide {
	display:none;
}
.red {
	color:#990000;
}
.green {
	color:#009900;
}
.bold {
	font-weight:bold;
}
body {
    background: none repeat scroll 0 0 #f0f0f0;
	color:#151515;
	font:13px/15px 'Open Sans',helvetica,arial,sans-serif !important;
	font-smooth:always;
}
.wrap {
	margin:0 auto;
	width:100%;
	text-align:center;	
}
.wrap .innerWrap {
	margin:0 auto;
	max-width:1220px;
	min-width:768px;
	width:100%;
	text-align:center;
}
.wrap .innerWrap .mainContent {
    max-width:1220px;
    min-width:748px;
    width: 98.360655737704918032786885245902%; /* 1200px ÷ 1220px */
	text-align:left;
	margin:0 auto;
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	background-color:#ffffff;
	padding-bottom: 70px;
}
a {
	color:#0d7cd7;
}
a:link, a:visited {
    text-decoration: none;
}
img {
	border:none;
}
.clear {
	clear:both;
}

#body {
	padding:10px 2.5% 0px;
}
.left {
	float:left;	
}
.right {
	float:right;
}
.pageTitle {
	font-size:30px;
	line-height:1.2em;
}