<div data-ng-class="{sWrap: questionData.editMode}">
	<div data-ng-class="{active: questionData.editMode, last: questionClass}" class="question">
		<div class="questionInner">
			<div class="question-heading">
				<span class="left">Question {{ questionData.num + 1 }}:</span>
				<!--<div class="left questionTypeLabel">Fill in the Blanks</div>-->
				<div class="left questionTotalPoints">
					<span class="labelTitle left">Total Points: </span>
					<span class="left non-editMode" data-ng-bind="questionData.totalPoints"
						  data-ng-show="!questionData.editMode"></span>
					<input type="text" data-ng-model="questionData.totalPoints" class="left"
						   data-ng-show="questionData.editMode" />
					<div class="clear"></div>
				</div>
					<a class="removeSectionBtn right" href="javascript:void(0);" style="margin: 0px 6px;"
					   data-ng-click="sectionData.editMode = false">
						<img src="/app/frontend/images/buttons/trashBtn.png" alt="Delete" width="28" height="27" />
					</a>
					<a class="editSectionBtn right" href="javascript:void(0);" style="margin: 0px 6px;"
				   	   data-ng-class="{active: questionData.editMode}" data-ng-click="questionData.editMode = true">&#32;</a>
				<div class="clear"></div>
			</div>
			<div class="question-body">
			<table cellspacing="5" cellpading="5" class="assessmentTableb"
					   data-ng-show="!questionData.editMode">
					<tr>
						<td class="titleLabel" valign="top">Question:</td>
						<td data-ng-bind="questionData.correctAns.humanDescription"></td>
					</tr>
					<tr data-ng-repeat="choice in questionData.choices">
						<td class="titleLabel">
							Answer for {{$index + 1}}
						</td>
						<td data-ng-bind="choice.description"></td>
					</tr>
					<tr>
						<td class="titleLabel">Options:</td>
						<td>
							<span class="optionLabel left">Show Word Bank:</span> 
							<span class="left optionLabelValue" data-ng-bind="questionData.options.showWordBank"></span>
							<div class="clear"></div>
						</td>
					</tr>
				</table>
				<table cellspacing="5" cellpading="5" class="assessmentTableb"
					   data-ng-show="questionData.editMode">
					<tr>
						<td class="titleLabel" valign="top" colspan="2">
							<span class="red bold">*Note:</span> use '__' (double underscore) to make a blank answer choice
						</td>
					</tr>
					<tr>
						<td class="titleLabel">Options:</td>
						<td>
							<span class="optionLabel left">Show Word Bank:</span> 
							<input type="checkbox" class="left" data-ng-model="questionData.options.showWordBank"
								   data-ng-true-value="Yes" data-ng-false-value="No" />
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td class="titleLabel" valign="top">Question</td>
						<td>
							<div class="textcrums">
								<input type="text" class="textfield crumsTextfield left"
									   data-ng-model="questionData.correctAns.description"
									   data-ng-change="updateQuestionSpecs()" /> 
								<!--<a class="left btn-square gray tall addBtn" href="javaScript:void(0);"
								   data-ng-click="makeAnswers()">Add</a>-->
								<div class="clear"></div>
								
								<table cellspacing="5" cellpading="5" class="assessmentTableb">
									<tr data-ng-repeat="choice in questionData.choices">
										<td style="vertical-align: top; font-weight: bold; padding: 13px 15px 0;">
											Answer for {{$index + 1}}
										</td>
										<td><input type="text" data-ng-model="choice.description"
												   style="width: 260px;"
												   placeholder="Enter Answers (comma separated)" /></td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td class="titleLabel"></td>
						<td>
							<a href="javaScript:void(0);" class="btn-done"
									   data-ng-click="questionData.editMode = false">Save</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>