<div data-ng-class="{sWrap: questionData.editMode}">
	<div data-ng-class="{active: questionData.editMode, last: questionClass}" class="question">
		<div class="questionInner">
			<div class="question-heading">
				<span class="left">Question {{ questionData.num+1 }}:</span>
				<!--<div class="left questionTypeLabel">Multiple Choice</div>-->
				<div class="left questionTotalPoints">
					<span class="labelTitle left">Total Points: </span>
					<span class="left non-editMode" data-ng-bind="questionData.totalPoints"
						  data-ng-show="!questionData.editMode"></span>
					<input type="text" data-ng-model="questionData.totalPoints" class="left"
						   data-ng-show="questionData.editMode" />
					<div class="clear"></div>
				</div>
					<a class="removeSectionBtn right" href="javascript:void(0);" style="margin: 0px 6px;"
					   data-ng-click="sectionData.editMode = false">
						<img src="/app/frontend/images/buttons/trashBtn.png" alt="Delete" width="28" height="27" />
					</a>
					<a class="editSectionBtn right" href="javascript:void(0);" style="margin: 0px 6px;"
				   	   data-ng-class="{active: questionData.editMode}" data-ng-click="questionData.editMode = true">&#32;</a>
				<div class="clear"></div>
			</div>
			<div class="question-body">
				<table cellspacing="5" cellpading="5"  class="assessmentTable" 
					   data-ng-show="!questionData.editMode">
					<tr>
						<td class="titleLabel">Question:</td>
						<td data-ng-bind="questionData.question"></td>
					</tr>
					<tr>
						<td class="titleLabel green">Correct Answer:</td>
						<td data-ng-bind="questionData.correctAns.description"></td>
					</tr>
					<!-- Load question answer choices -->
					<tr data-ng-repeat="answerChoice in questionData.choices">
						<td class="titleLabel">Answer Choice {{answerChoice.num + 1}}:</td>
						<td data-ng-bind="answerChoice.description"></td>
					</tr>
					<tr>
						<td class="titleLabel">Options:</td>
						<td>
							<span class="optionLabel left">Randomize Answers:</span> 
							<span class="left optionLabelValue" data-ng-bind="questionData.options.randomize"></span>
							<div class="clear"></div>
						</td>
					</tr>
				</table>
				<table cellspacing="5" cellpading="5"  class="assessmentTable" 
					   data-ng-show="questionData.editMode">
					<tr>
						<td class="titleLabel">Question:</td>
						<td><textarea type="text" class="widefield"
									  data-ng-model="questionData.question"></textarea></td>
					</tr>
					<tr>
						<td class="titleLabel green">Correct Answer:</td>
						<td><input type="text" class="widefield ans" placeholder="Enter correct answer choice"
								   data-ng-model="questionData.correctAns.description" /></td>
					</tr>
					<!-- Load question answer choices -->
					<tr data-ng-repeat="answerChoice in questionData.choices">
						<td class="titleLabel">Answer Choice {{answerChoice.num + 1}}:</td>
						<td><input type="text" class="left widefield ans" placeholder="Enter answer choice"
								   data-ng-model="answerChoice.description" />					
							<a class="left remove-answer-choice" href="#"><i class="icon-remove"></i></a>
							<div class="clear"></div>
						</td>
					</tr>
					<tr>
						<td class="titleLabel"></td>
						<td><a href="javaScript:void(0);" class="addAdditionalAnswer"
							   data-ng-click="addAnswerChoice()">+ Add Answer Choice</a></td>
					</tr>
					<tr>
						<td class="titleLabel">Options:</td>
						<td>
							<br />
							<span class="optionLabel left">Randomize Answers:</span> 
							<input type="checkbox" class="left" data-ng-model="questionData.options.randomize"
								   data-ng-true-value="Yes" data-ng-false-value="No" />
							<div class="clear"></div>
							<br />
						</td>
					</tr>
					<tr>
						<td class="titleLabel"></td>
						<td>
							<a href="javaScript:void(0);" class="btn-done"
							   data-ng-click="questionData.editMode = false">Save</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>