.assignmentType {
	color:#777777;
	padding-bottom:5px;
	font-weight:600;
}
.pageDesc {
	padding:16px;
	background-color:#CCCCCC;
	border:1px solid #999999;
	line-height:1.6em;
	color:#000000;
}
.editorButtons .saveBtn {
	width:93px;
}
.editorButtons .postBtn {
	width:92px;
	margin-left:16px;
}
.editorButtons .cancelBtn {
	width:117px;
	margin-left:16px;
}
.editorButtons .removeBtn {
	width:98px;
	margin-left:16px;
}
.addNewQuestionBtn {
	width:20%;
}
.addAnswerChoice {
	width:20%;
}
.addAnswerChoiceWrap {
	display:none;
}
.fieldLabel {
	width:100%;
	font-weight:600;
	padding-bottom:8px;
}
.question_field {
	width:50%;
	height:80px;
	border:1px solid #999999;
}
.sectionTitle {
	font-weight: 600;
	color: #231F20;
	font-size: 20px;
}
.createTitleBox {
	padding:16px;
	background-color:#e5e5e6;
	border: 1px solid #999999;
}
.assessmentTable {
	width:76%;
}
.assessmentTable2c {
	width:100%;
}
.assessmentTable2c .titleLabel {
	font-weight: 600;
	font-size: 13px;
	color: #231F20;
	width:90px;
}
.assessmentTable2c .titleLabel2 {
	font-weight: 600;
	font-size: 13px;
	color: #231F20;
	width:70px;
}
.assessmentTable .titleLabel {
	font-weight: bold;
	font-size: 13px;
	color: #231F20;
	width:155px;
}
.assessmentTable .titleLabel.green {
	color: #009344;
}
.assessmentTableb .titleLabel {
	font-weight: 600;
	font-size: 13px;
	color: #231F20;
	width:80px;
}
.assessmentTableb .titleLabel.green {
	color: #009344;
}
.assessmentTable td {
	padding:5px 15px 5px 0px;
	vertical-align: middle;
}
.assessmentTableb td {
	padding:5px 15px;
	vertical-align: middle;
}
.assessmentTableb td {
	padding:5px 15px;
	vertical-align: top;
}
.assessmentTable td input, .assessmentTable td .bootstrap-select {
	margin-bottom: 0px;
}
.assessmentTable2c td {
	padding:5px 15px;
	vertical-align: middle;
}
.assessmentTable2c .widefield {
	width:85%;
}
.assessmentTable2c .tdspacer {
	width:10%;
}
.daterange_to {
	margin:7px 10px;
}
.timelimit_hrs .label {
	font-weight: 600;
	margin-top: 7px;
	margin-left: 5px;
}
.timelimit_mins {
	margin-left: 10px;
}
.timelimit_mins .label {
	font-weight: 600;
	margin-top: 7px;
	margin-left: 5px;
}
.smallfield {
	width:50px;
}
.normalfield {
	width: 35%;
}
.widefield {
	width:75%;
}
.accordion-group {
	border-top:1px solid #231F20;
	border-radius:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
}
.accordion-group.last {
	
}
.accordion-group.active {
	border-top:4px solid #00ADEF;
}
.accordion-group .accordion-heading:hover {
	background-color:#eeeeee;
	cursor:move;
}

.accordion-group .accordion-heading .accordion-toggle {
	color: #231F20;
	font-weight:600;
	font-size:18px;
	background-image:url("/app/frontend/images/arrow/toggle_arrow_active.png");
	background-repeat:no-repeat;
	background-position:5px 16px;
	padding:12px 25px;
	outline:none;
}
.accordion-group .accordion-heading .accordion-toggle.collapsed {
	background-image:url("/app/frontend/images/arrow/toggle_arrow_inactive.png");
	background-position:5px 14px;
	adding:12px 25px;
}
.sQuestionBox {
	width:100%;
	background-color:#ffffff;
}
.sQuestionBox .sWrap {
	padding:5px;
}
.sReqs {
	width:100%;
	padding:5px 0px;
}
.sReqs .sWrap {
	padding:10px 5px;
}
.accordion-inner {
	border-top:0;
    padding:0;
}
.padTitle {
	padding:0px 15px;
}
.smallCol {
	width: 70px;
}
.medCol {
	width: 90px;
}
.largeCol {
	width: 155px;
}
.valignTop {
	vertical-align: top !important;
}
.valignMiddle {
	vertical-align: middle !important;
}
.filenames td {
	vertical-align: middle;
}
.blankCrum {
	background-color: #ff0000;
}
.selectionQuestionBtn .btn {
	font-size: 12px;
	font-weight: bold;
}
.selectionQuestionBtn a {
	font-size: 12px;
	color: #231F20;
}
.selectionQuestionBtn .title {
	font-size: 12px;
	color: #535353;
	font-style: italic;
}
.addSectionQuestionBtn .btn-primary {
	font-size: 12px;
    background-image: url("/app/frontend/images/buttons/addQuestionIconBtn2_03.png");
    background-repeat: no-repeat;
    border: 0 none;
    width: 28px;
    height: 28px;
    text-shadow: none;
    background-color: inherit;
    background-position: 0px 0px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    box-shadow: none;
    margin-top: 8px;
}
.addSectionQuestionBtn a {
	font-size: 12px;
	color: #231F20;
}
.addSectionQuestionBtn .title {
	font-size: 12px;
	color: #535353;
	font-style: italic;
}
.addSectionQuestionBtn .btn-primary:hover {
    background-image: url("/app/frontend/images/buttons/addQuestionIconBtn2_03.png");
    background-repeat: no-repeat;
    border: 0 none;
    width: 28px;
    height: 28px;
    text-shadow: none;
    background-color: inherit;
    background-position: 0px 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.addSectionQuestionBtn.open .btn-primary.dropdown-toggle {
    background-image: url("/app/frontend/images/buttons/addQuestionIconBtn2_03.png");
    background-repeat: no-repeat;
    border: 0 none;
    width: 28px;
    height: 28px;
    text-shadow: none;
    background-color: inherit;
    background-position: 0px 0px;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.addSectionQuestionBtn.createSection .btn-primary {
	font-size: 12px;
    background-image: url("/app/frontend/images/buttons/createSectionBtn_03.png");
    background-repeat: no-repeat;
    border: 0 none;
    width: 162px;
    height: 29px;
    text-shadow: none;
    background-color: inherit;
    background-position: 0px 0px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    box-shadow: none;
    margin-top: 8px;
}
.addSectionQuestionBtn.createSection .btn-primary:hover {
    background-image: url("/app/frontend/images/buttons/createSectionBtn_03.png");
    background-repeat: no-repeat;
    border: 0 none;
    width: 162px;
    height: 29px;
    text-shadow: none;
    background-color: inherit;
    background-position: 0px 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.addSectionQuestionBtn.createSection.open .btn-primary.dropdown-toggle {
    background-image: url("/app/frontend/images/buttons/createSectionBtn_03.png");
    background-repeat: no-repeat;
    border: 0 none;
    width: 162px;
    height: 29px;
    text-shadow: none;
    background-color: inherit;
    background-position: 0px 0px;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.createSectionBtn {
	font-size: 12px;
	font-weight: bold;
}
.sQuestionBox .sWrap {
	padding-left: 40px;
}
.sQuestionBox .question {
	border-top: 1px solid #272425;
	margin-bottom: 10px;
}
.sQuestionBox .question.active {
	border-top: 1px solid #272425;
	border-bottom: 1px solid #272425;
	margin-bottom: 10px;
}
.sQuestionBox .question.active .questionInner {
	padding-left: 10px;
}
.sQuestionBox .question .questionInner {
	padding-top: 10px;
	padding-bottom: 20px;
}
.sQuestionBox .question.active .questionInner {
	border-left: 6px solid #00ADEF;
}
.sQuestionBox .question .question-heading {
	font-size: 16px;
    font-weight: 600;
}
.sQuestionBox .question.active .question-heading {
    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
}
.section .questionTypeLabel.multiple-choice {
	background-color: #B9E5FA;
    border: 1px solid #00ADEF;
    color: #231F20;
    font-size: 10px;
    padding: 1px 5px;
    margin-left: 40px;
}
.section .questionTypeLabel {
	font-size: 10px;
    padding: 1px 5px;
    margin-left: 40px;
    margin-top: 10px;
}
.section .questionTypeLabel.fill-in-blanks {
	background-color: #C3DE96;
    border: 1px solid #00A550;
    color: #231F20;
}
.section .questionTypeLabel.matching {
	background-color: #EEB8BE;
    border: 1px solid #ED1C24;
    color: #231F20;
    font-size: 10px;
    padding: 1px 5px;
    margin-left: 40px;
}
.sQuestionBox .question .questionTotalPoints {
    margin-left: 40px;
}
.sQuestionBox .question .questionTotalPoints .labelTitle {
    color: #222222;
    font-size: 12px;
    margin-top: 2px;
    margin-right: 10px;
}
.sQuestionBox .question .questionTotalPoints .non-editMode {
    color: #151515;
    font-size: 12px;
    margin-top: 2px;
    font-weight: normal;
}
.sQuestionBox .question .optionLabelValue {;
    margin-top: 2px;
}
.sQuestionBox .question .questionTotalPoints input {
	font-size: 11px;
    height: 12px;
    
    text-align: center;
    width: 25px;
}
.sQuestionBox .question td {
	font-size: 12px;
	color: #333333;
}
.sQuestionBox .question .question-body {
	padding-top: 10px;
}
.btn-done {
	padding: 5px 10px;
	font-weight: bold;
	color: #ffffff;
	background-color: #00ADEF;
}
.btn-done:hover, .btn-done:focus {
	color: #ffffff;
	outline: none;
}
.createSectionBtn {
	padding: 5px 10px;
	font-weight: bold;
	color: #ffffff;
	background-color: #00ADEF;
}
.createSectionBtn:hover, .createSectionBtn:focus {
	color: #ffffff;
	outline: none;
}
.sQuestionBox .question .addAdditionalAnswer {
	margin-left: 10px;
	color: #777777;
	font-size: 12px;
}
.sQuestionBox .question .optionLabel {
	font-size: 11px;
	color: #444444;
	font-weight: 600;
	margin-top: 3px;
	margin-right: 10px;
}
.remove-answer-choice {
	margin-top: 7px;
	margin-left: 5px;
}
.btn-square {
	padding: 5px 10px;
	font-weight: bold;
	color: #ffffff;
	background-color: #00ADEF;
}
.btn-square.tall {
	padding: 6px 10px;
	margin-top: 1px;
}
.btn-square.red {
	background-color: #ff0000;
}
.btn-square.gray {
	background-color: #999999;
}
.btn-square:hover, .btn-square:focus {
	color: #ffffff;
	outline: none;
}
.editSectionBtn {
	background-image: url('/app/frontend/images/buttons/changeBtn2.png');
	width: 28px;
	height: 27px;
	border:0;
}
.editSectionBtn.active {
	background-image: url('/app/frontend/images/buttons/changeBtn2Active.png');
}
.textcrums {
	width: 470px;
}

.textcrums input {
	width: 395px;
	margin-right: 5px;
}

.textcrums .vals a {
	color: #ffffff;
}

.textcrums .label {
	margin: 5px;
}

#filelist {
	margin-top: 5px;
}